body.effect_blur {
   -webkit-animation: effectBlur 5s;
    animation: effectBlur 5s;
}

.xsscroll::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}
.xsscroll::-webkit-scrollbar-thumb {
    background: #404040;
}
.xsscroll::-webkit-scrollbar-track {
    background: #c4c4c4;
}

@-webkit-keyframes effectBlur {
   0% {
      -webkit-filter: blur(50px);
      -moz-filter: blur(50px);
      -o-filter: blur(50px);
      -ms-filter: blur(50px);
   }
   20% {
      -webkit-filter: blur(25px);
      -moz-filter: blur(25px);
      -o-filter: blur(25px);
      -ms-filter: blur(25px);
   }
   35% {
      -webkit-filter: blur(18px);
      -moz-filter: blur(18px);
      -o-filter: blur(18px);
      -ms-filter: blur(18px);
   }
   50% {
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
   }
   80% {
      -webkit-filter: blur(1.8px);
      -moz-filter: blur(1.8px);
      -o-filter: blur(1.8px);
      -ms-filter: blur(1.8px);
   }
   100% {
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
   }
}

td.tdIMG {
   position: relative;
   left: 8px;
}
div.imageFlag {
   display: grid;
   justify-content: center;
   align-content: center;
   align-items: center;
   justify-items: center;
}
div.imageFlag table td.nicknames {
   color: #FFFFFF!important;
}

div.containerAudio {
   display: grid;
   justify-content: center;
   align-content: center;
   align-items: center;
   justify-items: center;
}

iframe.iframeAudio {
   width: 370px!important; /* 430px */
   height: 192px!important;
   border-radius: 4%;
   overflow: hidden;
}
divcontext-menu ul li span {
	  display: grid;
    justify-content: center;
}
